body {
  background-color: gray;
  margin: 1rem;
}
input {
  margin: 15px;
  width: 200px;
}
table,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
}
th,
td {
  padding: 7px;
}
table {
  width: 100%;
}
.highlight {
  background-color: yellow;
}
.td-topic {
  width: 250px;
}
.toolbar {
  border: 2px solid black;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 11px;
}
pre {
  margin-bottom: 1em;
  padding: 5px 10px;
  padding-bottom: 10px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    sans-serif;
  font-size: 13px;
  background-color: #eff0f1;
  border-radius: 10px;
  color: darkgreen;
  width: 40%;
}
.App {
  margin: auto;
  background-color: lightgrey;
}
.container {
  border: 2px solid black;
  height: 86vh;
  overflow-x: auto;
}
.project-container {
  border: 2px solid black;
  height: 90vh;
  overflow-x: auto;
}
.container-projects {
  border: 2px solid black;
  height: 90vh;
  overflow-x: auto;
}
npm {
  padding: 5px 10px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
    sans-serif;
  font-size: 13px;
  color: darkred;
  width: 40%;
  font-style: italic;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  background: rgb(18, 93, 118);
  color: white;
}
.nav-links {
  width: 50%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  list-style: none;
  color: white;
}
.nav-link {
  color: white;
  border: 3px solid white;
  margin: 1rem;
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
}
.nav-link:hover {
  background-color: cadetblue;
}
form {
  display: flex;
  flex-direction: column;
  width: 10rem;
  margin: 0 4rem;
}
.addTopic-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30rem;
  background-color: white;
  height: 23rem;
  border: 5px solid lightgray;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}
.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}
.addTopic-title {
  padding-left: 4rem;
}
.toolbar-img {
  width: 155px;
  height: 44px;
  position: absolute;
  left: 30px;
}
.toolbar-btn {
  padding-left: 30px;
}
button {
  padding: 5px;
  border-radius: 10px;
  background-color: darkseagreen;
  margin: 5px;
  width: 85px;
}
